a{
    text-decoration: none;
}
#img{
    border-radius: 50%;
    border: #11e6e6 solid 3px;
}
#main{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
#mainIndex{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.container{
    padding: 100px;
}
#leftDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: #11e6e6 solid 2px;
    border-right: #11e6e6 solid 2px;
    border-radius: 0 20px 0 0;
}
#imagePdp{
    width: 300px;
    width: 300px;
    border-radius: 50%;
}
#description{
    padding: 20px;
    border-right: #11e6e6 solid 3px;
    width: 50%;
}
#rightCol{
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Titre{
    color: #11e6e6;
    padding: 0;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    color: #11e6e6;
    font-weight: bold;
    font-size: xx-large;
}
span{
    color: red;
    font-size: x-large;
}
nav{
    z-index: 1000;
}
#pageContent{
    display: grid;
    grid-template-columns: 1fr 2fr;
}